/* General setup */
@font-face {
    font-family: 'cantata_oneregular';
    src: url('Fonts/cantataone-regular-webfont.woff2') format('woff2'),
         url('Fonts/cantataone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hardlyworthitregular';
    src: url('Fonts/hardlyworthit-webfont.woff2') format('woff2'),
         url('Fonts/hardlyworthit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
/*Font Styling*/
h1, h2
{
  font-family: 'hardlyworthitregular';
  letter-spacing: 2px;
}

html
{
  font-family: 'cantata_oneregular';
  font-size:10px;
}

h1
{
  font-size: 30px;
  text-align: center;
}
h2
{
   font-size: 20px;
}
p, li
{
   line-height:18px;
   letter-spacing: 1px;
   word-spacing: 1.5px;
}
section h2 + p
{
  text-indent: 20px;
}
/*link styling*/
a
{
  color: #a66;
  text-decoration: underline;
  outline:none;
}
a:link
{
 color: #a66;
 outline:none;
}
a:visited
{
color: #a66;
outline:none;
}
a:focus
{
  text-decoration: none;
  color: #a66;
  outline:none;
}
a:hover
{
  text-decoration: none;
  color: #a66;
  outline:none;
}
 a:active
 {
color: black;
  outline:none;
  background-color:#a66;
 }
 a[href^="https"]
 {
  padding-right: 15px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 10px 10px;
 }
 /*list styling*/
 ul, ol 
 {
   list-style-type: circle;
   margin:16px 0;
 }
 /*nav menu styling*/
 nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav li {
  
  margin-bottom: 10px;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 20px;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover {
  color: #a66;
}

nav li a:active {
  color: black;
  background: #a66;
}


